.destination-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    background-color: white;
    border-radius:10px;
} 

.destination-image{
    height:150px;
    width:150px;
    border-radius:20px;
} 

.destination-name {
    color: #0f172a;
    font-family:"Roboto";
    font-size:10px;
}